body {
    text-align: center;
    background-image: url("bg.png");
    background-position: center;
    background-size: cover;
}

h1 {
    color: deeppink;
    font-size: 40px;
}

#myCanvas {
    border-width: 6px;
    border-radius: 4px;
    border-color: yellow;
    border-style: ridge;
    background-color: #fff;
    cursor: pointer;
}

#options {
    margin: 10px auto;
    background-color: rgba(255, 255, 0, 0.8);
    width: 700px;
    max-width: 100%;
    padding: 10px;
}

.option {
    display: inline-block;
    text-align: left;
}

span {
    font-size: 20px;
}

input {
    margin-right: 20px;
}

#traco {
    width: 50px;
}

button {
    background-color: coral;
    border: none;
    color: #fff;
    padding: 10px 40px;
    font-size: 16px;
}