body {
    text-align: center;
    background-image: url("bg.png");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
    background-size: cover;
}

h1 {
    color: deeppink;
    font-size: 40px;
}

#myCanvas {
    border-width: 6px;
    border-radius: 4px;
    border-color: yellow;
    border-style: ridge;
    background-color: #fff;
    cursor: pointer;
}

.textArea {
    margin: 10px auto;
    background-color: rgba(255, 255, 0, 0.8);
    width: 800px;
    max-width: 90%;
    padding: 10px;
}

.option {
    display: inline-block;
    text-align: left;
    padding: 10px;
}

label {
    font-size: 20px;
}

input {
    margin-right: 20px;
}

#traco, #colorOptions {
    font-size: 18px;
}

#traco {
    width: 60px;
}

#colorOptions {
    width: 110px;
}

#cor {
    display: none;
}

button {
    background-color: coral;
    border: none;
    color: #fff;
    padding: 10px 40px;
    font-size: 16px;
}